$body-bg: #f0f0f0;
$body-color: #111;

$theme-colors: (
  "primary": #c5d9dd,
  "info":red,
  "success":#167ec49f,
  
);

//Components
//"special":#1ae70762,
//Card
//$card-bg: #fafefb;

$card-bg: #fcfdfc00;
$card-border-radius: .5rem;
$card-inner-border-radius: .5rem;

$btn-font-weight: $font-weight-bold;